.products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-img {
  width: 30%;
}

.products {
  font-family: 'Roboto';
  font-size: 32px;
  color: #1e293b;
}
